# Amazon AWS Access Key
aws_access_key = ""
# Amazon AWS Secret Key
aws_secret_key = ""
#IPV4 CIDR
cidr_ipv4 = "172.16.0.0/16"
public_subnet="172.16.0.0/24"
private_subnet="172.16.1.0/24"
# Amazon AWS Key Pair Name
ssh_key_name = ""
# fixed path to your PEM file incuding full pem filename
private_key_pem_file=""